<!-- TEMP -->
<link rel="stylesheet" href="../public/css/global.css" media="all" />
<!-- // TEMP -->

<script src="/javascripts/ejs.min.js" type="text/javascript"></script>
<script src="/javascripts/merger.js" type="text/javascript"></script>
<div class="container">
	
  <div class="choose">
    <label>
        I want to upload
        <select name="" id="">
            <option value="1">1 video</option>
            <option value="2" selected>2 videos</option>
        </select>
    </label>
  </div>

  <div class="info">
    Use the controls below to upload both the <u>tutor</u> and <u>student</u> videos. The process will merge them into one video which will then be added to the system.
  </div>

  <div class="new_task">
    <form id="file_upload_form" method="post" action="" enctype="multipart/form-data">
      <input type="hidden" id="newTaskId" value=""/>

      <div class="col1" id="columnTutor">
        <b>Choose <u>tutor</u> video</b>
        <input type="file" value="Select a file" id="fileTutor" />
      </div>
      <div class="col1" id="columnStudent">
        <b>Choose <u>student</u> video</b>
        <input type="file" value="Select a file" id="fileStudent"  />
      </div>
      <div class="col2">
        <b>Click <u>upload</u></b>
        <input type="submit" value="Upload" id="uploadFiles" />
      </div>
      <div class="clear"></div>
    
    </form>
  </div>

  <ul id="items"></ul>

</div>
